html {
  background: url("https://github.com/DGibson23/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/Sky.jpg?raw=true")
    no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
  overflow: hidden;
}

h1 {
  text-align: center;
  margin-bottom: 10px;
  font-size: 120px;
  font-family: Copperplate, Papyrus, fantasy;
  color: aqua;
  -webkit-text-stroke: 2px black;
}

h2 {
  text-align: center;
  margin-top: 1px;
  margin-bottom: 5px;
  font-size: 40px;
  font-family: "Times New Roman", Times, serif;
  color: #0f748a;
  -webkit-text-stroke: 1.5px aqua;
}

body {
  display: flex;
  flex-direction: column;
}

#start {
  text-align: center;
  font-size: 30px;
  background-color: black;
  color: aqua;
}

#timer {
  color: aqua;
  -webkit-text-stroke: 2px black;
}

.grid {
  width: 1000px;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  cursor: url("../assets/mallet.png"), pointer;
}

.hole {
  flex: 1 0 24%;
  overflow: hidden;
  position: relative;
}

.hole:after {
  display: block;
  background: url("https://github.com/DGibson23/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/blackmist.png?raw=true")
    bottom center no-repeat;
  background-size: contain;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events: none;
}

.dragon {
  background: url("https://github.com/DGibson23/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/firedragon.png?raw=true")
    bottom center no-repeat;
  background-size: 47%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 1s;
  pointer-events: auto;
}

.sprite {
  background: url("https://github.com/DGibson23/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/IceDragon.png?raw=true")
    bottom center no-repeat;
  background-size: 32%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 1s;
  pointer-events: auto;
}

.hole.show .dragon {
  top: 0;
}

.hole.show-sprite .sprite {
  top: 0;
}

#selectedDifficulty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 5px;
  align-items: center;
  width: 500px;
  height: 1em;
  font-size: 30px;
  color: white;
}

#starterBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#easySelector,
#normalSelector,
#hardSelector {
  background-color: black;
  font-size: 20px;
}
